@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  textarea,
  input,
  select,
  option {
    outline: none;
  }

  @font-face {
    font-family: "Roboto, sans-serif";
    src: url("/fonts/rob.ttf");
  }

  body {
    background-color: #f0f9f8;
    color: #2A2B2A;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    @apply font-rob;
  }

  @media (min-width: 768px) {
    code::-webkit-scrollbar {
      display: none !important;
    }
  }
  code::-webkit-scrollbar-track {
    background: transparent;
  }
  html::-webkit-scrollbar {
    width: 10px;
  }

  /* html::-webkit-scrollbar-track {
    border-left: 1px solid;
    border-color: #2a2b2a;
  } */

  html::-webkit-scrollbar-thumb {
    border: 1.5px solid;
    border-color: #2a2b2a;
    border-radius: 3.5px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background: #E0E4DB;
  }
}

.mobil {
  @apply md:hidden lg:hidden xl:hidden 2xl:hidden;
}
.pc {
  @apply hidden md:flex lg:flex xl:flex 2xl:flex;
}